/* 
Example color schemes

@base00 #000000 #0F1419 ----
@base01 #231a40 #131721 ---
@base02 #432d59 #272D38 --
@base03 #593380 #3E4B59 -
@base04 #7b43bf #BFBDB6 +
@base05 #b08ae6 #E6E1CF ++
@base06 #9045e6 #E6E1CF +++
@base07 #a366ff #F3F4F5 ++++
@base08 #a82ee6 #F07178 red
@base09 #bb66cc #FF8F40 orange
@base0A #f29df2 #FFB454 yellow
@base0B #41d9bF #B8CC52 green
@base0C #40dfff #95E6CB aqua/cyan
@base0D #326ee6 #59C2FF blue
@base0E #7e5ce6 #D2A6FF purple
@base0F #a886bf #E6B673 brown

 */

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: @base01;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: @base02;
  color: @base06;
}

#workspaces button.active {
  color: @base06;
  background-color: @base03;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @base06;
  background-color: @base03;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#memory,
#custom-power,
#custom-swaync,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: @base03;
  color: #181825;
  min-width: 22px;
}

#custom-logo {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: #1793d1;
}

#memory {
  background-color: @base0A;
}

#battery {
  background-color: @base0B;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: @base08;
  color: @base0A;
}

#battery.charging {
  background-color: #a6e3a1;
  color: #181825;
}

#backlight {
  background-color: @base0c;
}

#wireplumber {
  background-color: @base0D;
}

#network {
  background-color: @base0E;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: @base08;
}

#custom-power {
  background-color: @base08;
  margin-right: 6px;
}
#custom-swaync {
  background-color: @base0F;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: @base01;
}

tooltip label {
  padding: 5px;
  background-color: @base01;
}
